@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background-color: aliceblue;
}

h1 {
  text-align: center;
}

.profile-picture {
  width: 10%;
  height: 10%;
  border: 7px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.container-profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.biografi1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.biografi1 tr {
  width: 100px;
  height: 25px;
}

.biografi1 td {
  font-size: 20px;
}

.header-contact,
.header-donate {
  text-align: center;
}

.contactme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate button,
.contactme button {
  width: 400px;
  height: 40px;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 100;
  border-radius: 18px;
}

.donate button:hover,
.contactme button:hover {
  color: rgb(3, 207, 17);
  background-color: rgb(224, 224, 224);
}

.logo {
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  border-radius: 10px;
}

@media (max-width: 768px) {
  h1{
    font-size: 20px;
  }
  .header-contact, .header-donate {
    font-size: 15px;
  }
  
  .profile-picture {
    width: 40%;
    height: 40%;
  }
  .biografi1 tr {
    width: 50px;
    height: 15px;
  }

  .biografi1 td {
    font-size: 10px;
  }

  .donate button,
.contactme button {
    width: 200px;
  height: 30px;
  font-size: 10px;
  font-weight: 100;
  border-radius: 18px;
}
}
